*{
    margin: 0;
    padding: 0;
}
img {
    height: 200px;
    width: 200px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#p1{
    background-color: rgb(21, 255, 21);
}
#p2{
    background-color: rgb(21, 255, 21);
}
#p3{
    background-color: rgb(21, 255, 21);
}
#p4{
    background-color: rgb(21, 255, 21);
}
#p5{
    background-color: rgb(21, 255, 21);
}

#d1 {
    margin-top: 1% ;
    margin-left: 1%;
    width: 200px;
    height: 270px;
    border: 3px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Скопировала :D */
/* .wrapper{
    margin-top: 1% ;
    margin-left: 1%;
    width: 200px;
    height: 270px;
    border: 3px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
} */
