{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'contactpage/css/contactpage.css' %}">
{% endblock %}
{% block content %}
    <h1>Название магазина</h1>
    <div id = id1>
        <p id = number>Телефон:</p>
        <p>+380000000000</p>
        <p>+380000000000</p>
        <p>+380000000000</p>
        

    </div>
    <div id = id2>
        <p>Контакты:</p>
        <a href="https://www.whatsapp.com/?lang=uk_UA" id = ida>WhatsApp</a>
        <a href="https://web.telegram.org/" id = ida>Telegram</a><br>
        <a href="https://www.viber.com/ru/" id  = ida>Viber</a>

        
    </div>   
{% endblock %}
