{% extends 'appsettings/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'mainpage/css/main.css' %}">
{% endblock %}
{% block content %}
    <div>
        <p>
            Осенняя распродажа <br>
            (👉ﾟヮﾟ)👉 Odejda на любой вкус и цвет 👈(ﾟヮﾟ👈)

        </p>
    </div>
    <img id = i1 src="{% static 'mainpage/img/1.jpg' %}" alt="1">
    <img id = 22 src="{% static 'mainpage/img/2.jpg' %}" alt="2">
    <img id = 33 src="{% static 'mainpage/img/3.jpg' %}" alt="3">
{% endblock %}
mainpage/img/1.jpg
mainpage/img/2.jpg
mainpage/img/3.jpg