{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'appsettings/css/base.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <a href="{% url 'main' %}"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
    </footer>
</body>
</html>