{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'appsettings/css/base.css' %}">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a href="{% url 'main' %}">Головка сторiнка</a>
        <a href="{% url 'contactpage' %}">Контакти</a>
        <a href="{% url 'autoregister' %}">Регiстрацiя</a>
        <a href="{% url 'productpage' %}">Товари</a>
        <a href="{% url 'shoppingcardpage' %}">Корзина</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>